 .u-section-1 {
  background-image: none;
  min-height: 641px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 640px;
  pointer-events: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 3px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 65px -20px 0 64px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: normal;
  text-transform: none;
  transition-duration: 0.2s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 600;
  background-image: linear-gradient(to right, #f97e83, #e13690);
  margin: 109px auto 0 64px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: normal;
  text-transform: none;
  transition-duration: 1.75s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 600;
  background-image: linear-gradient(to right, #f97e83, #e13690);
  margin: 33px auto 0 64px;
  padding: 9px 48px 11px 47px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: normal;
  text-transform: none;
  transition-duration: 0.2s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 600;
  background-image: linear-gradient(to right, #f97e83, #e13690);
  margin: 34px auto 0 64px;
  padding: 10px 39px 10px 37px;
}

.u-section-1 .u-image-1 {
  width: 362px;
  height: 362px;
  margin: -311px 54px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 529px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 88px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    letter-spacing: 1px;
    transition-duration: 0.2s;
    margin-top: 106px;
    margin-left: 0;
    padding: 18px 57px 19px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 101px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 50px !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 50px !important;
}

.u-section-1 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 710px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 812px;
  margin: 43px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 61px;
  margin-bottom: 43px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px);
  min-height: 498px;
  grid-gap: 50px 50px;
}

.u-section-2 .u-image-1 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
  background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/6a30d53b14a551b9a027229a/sdsd.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 34px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 22px;
}

.u-section-2 .u-line-1 {
  width: 295px;
  transform-origin: left center 0px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 2;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 133px 22px 0;
}

.u-section-2 .u-icon-1 {
  width: 51px;
  height: 51px;
  margin: 49px 22px 0 auto;
  padding: 0;
}

.u-section-2 .u-image-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
  background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/d3dbe8176ae2547f93db7651/ww.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 34px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 22px;
}

.u-section-2 .u-line-2 {
  width: 295px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-5 {
  line-height: 2;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 133px 22px 0;
}

.u-section-2 .u-icon-2 {
  width: 51px;
  height: 51px;
  margin: 49px 22px 0 auto;
  padding: 0;
}

.u-section-2 .u-image-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
  background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/8ed7181ea87f5edfabf0776a/qq.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 34px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 22px;
}

.u-section-2 .u-line-3 {
  width: 295px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-7 {
  line-height: 2;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 133px 22px 0;
}

.u-section-2 .u-icon-3 {
  width: 51px;
  height: 51px;
  margin: 49px 22px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 33.3333px));
    min-height: 389px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 981px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 86px;
    font-size: 3rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-line-1 {
    width: 389px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-line-2 {
    width: 389px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-line-3 {
    width: 389px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-line-2 {
    width: 320px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-line-3 {
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 586px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 387px;
  grid-gap: 30px;
}

.u-section-3 .u-image-1 {
  background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/7c81ccf9e85057f6be185aaf/46c4bb3d-c46b-8792-6fa7-a8099501f9e4.jpg");
  background-position: 50% 50%;
  transition-duration: 0.2s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-2 {
  padding: 13px 0 27px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  font-size: 1.25rem;
  margin: 55px 10px 0;
}

.u-section-3 .u-image-2 {
  background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/016b9503eb2156eb9d5b7512/867d5c5e-264f-ba2a-9890-d0e837b58c8b.jpg");
  background-position: 50% 50%;
  transition-duration: 0.2s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-3 {
  padding: 13px 0 27px;
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  font-size: 1.25rem;
  margin: 55px 10px 0;
}

.u-section-3 .u-image-3 {
  background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/2aa5df4a7eab57e198607637/66.jpg");
  background-position: 50% 50%;
  transition-duration: 0.2s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-4 {
  padding: 13px 0 27px;
}

.u-section-3 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  font-size: 1.25rem;
  margin: 55px 10px 0;
}

.u-section-3 .u-image-4 {
  background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/0a0ffea732c55ae8aae86c89/fa697d4c-bbff-e31e-390c-05d828d2138f.jpg");
  background-position: 50% 50%;
  transition-duration: 0.2s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-5 {
  padding: 13px 0 27px;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  font-size: 1.25rem;
  margin: 55px 10px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 85px;
  font-size: 2.25rem;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.9375rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 104px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 370px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-3 .u-btn-1 {
    padding: 8px 55px 9px 54px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(-10px) translateY(-5px) !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(-10px) translateY(-5px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(10px) translateY(-5px) !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(10px) translateY(-5px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-3.u-image-3.u-image-3:hover {
  transform: translateX(-10px) translateY(5px) !important;
}

.u-section-3 .u-image-3.u-image-3.u-image-3.hover {
  transform: translateX(-10px) translateY(5px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-4,
.u-section-3 .u-image-4:before,
.u-section-3 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-4.u-image-4.u-image-4:hover {
  transform: translateX(10px) translateY(5px) !important;
}

.u-section-3 .u-image-4.u-image-4.u-image-4.hover {
  transform: translateX(10px) translateY(5px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(225,54,144,0.6), rgba(225,54,144,0.6)), url("https://assets.nicepagecdn.com/0d5e02f4/3663945/images/32942141_399556436583.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1118px;
}

.u-section-4 .u-shape-1 {
  width: 438px;
  height: 79px;
  background-image: none;
  margin: 52px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  margin: -59px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1040px;
  margin: 52px auto 49px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 906px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  transition-duration: 0.2s;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px auto 0;
}

.u-section-4 .u-list-item-2 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  transition-duration: 0.2s;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px auto 0;
}

.u-section-4 .u-list-item-3 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  transition-duration: 0.2s;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px auto 0;
}

.u-section-4 .u-list-item-4 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  transition-duration: 0.2s;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px auto 0;
}

.u-section-4 .u-list-item-5 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  transition-duration: 0.2s;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-11 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px auto 0;
}

.u-section-4 .u-list-item-6 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  transition-duration: 0.2s;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-4 .u-text-12 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-13 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px auto 0;
}

.u-section-4 .u-list-item-7 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  transition-duration: 0.2s;
}

.u-section-4 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-4 .u-text-14 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-15 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px auto 0;
}

.u-section-4 .u-list-item-8 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  transition-duration: 0.2s;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-4 .u-text-16 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-17 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px auto 0;
}

.u-section-4 .u-list-item-9 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  transition-duration: 0.2s;
}

.u-section-4 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-4 .u-text-18 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-4 .u-text-19 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 819px;
  }

  .u-section-4 .u-list-item-1 {
    transition-duration: 0.2s;
  }

  .u-section-4 .u-list-item-2 {
    transition-duration: 0.2s;
  }

  .u-section-4 .u-list-item-3 {
    transition-duration: 0.2s;
  }

  .u-section-4 .u-list-item-4 {
    transition-duration: 0.2s;
  }

  .u-section-4 .u-list-item-5 {
    transition-duration: 0.2s;
  }

  .u-section-4 .u-list-item-6 {
    transition-duration: 0.2s;
  }

  .u-section-4 .u-list-item-7 {
    transition-duration: 0.2s;
  }

  .u-section-4 .u-list-item-8 {
    transition-duration: 0.2s;
  }

  .u-section-4 .u-list-item-9 {
    transition-duration: 0.2s;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1868px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1608px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1855px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-18 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2155px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-4 .u-list-item-5,
.u-section-4 .u-list-item-5:before,
.u-section-4 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-1,
.u-section-4 .u-list-item-1:before,
.u-section-4 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-2,
.u-section-4 .u-list-item-2:before,
.u-section-4 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-3,
.u-section-4 .u-list-item-3:before,
.u-section-4 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-4,
.u-section-4 .u-list-item-4:before,
.u-section-4 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-6,
.u-section-4 .u-list-item-6:before,
.u-section-4 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-7,
.u-section-4 .u-list-item-7:before,
.u-section-4 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-7.u-list-item-7.u-list-item-7:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-list-item-7.u-list-item-7.u-list-item-7.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-8,
.u-section-4 .u-list-item-8:before,
.u-section-4 .u-list-item-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-8.u-list-item-8.u-list-item-8:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-list-item-8.u-list-item-8.u-list-item-8.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-list-item-9,
.u-section-4 .u-list-item-9:before,
.u-section-4 .u-list-item-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-9.u-list-item-9.u-list-item-9:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-list-item-9.u-list-item-9.u-list-item-9.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-radius: 30px !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-list-item-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/22e81c593339560aa8499637/jj.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 936px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 776px;
  background-image: linear-gradient(#e13690, #f97e83);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 29px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 776px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-5 .u-text-3 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.2s;
  margin: 29px auto 0 0;
  padding: 8px 66px 8px 65px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 640px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 640px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-block-eacd-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-eacd-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eacd-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-eacd-62:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-eacd-62:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-btn-1,
.u-section-5 .u-btn-1:before,
.u-section-5 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 13px !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 13px !important;
}